<style>
.video-js {
    width: 100%;
    max-height: 350px;
}
.videoWrapper {
  position: relative;
}

.video-wrapper--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper--container > * {
  color: white;
}
</style>


<div id="custom-video">
  <div class="videoWrapper">
    {% if block.settings.shopify_video != blank %}
      <video id="my-video" class="video-js" autoplay loop muted playsinline>
        <source src="{{ block.settings.shopify_video }}" type="video/mp4">
      </video>
    {% endif %}
    <div class="video-wrapper--container">
      <h2>Heading</h2>
      <p>subheading</p>
    </div>
  </div>
</div>
